language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - 1.0
  - nightly
notifications:
  email: false
after_success:
  - julia --color=yes -e 'Pkg.add("Coverage"); using Coverage;
    Coveralls.submit(Coveralls.process_folder())'
